# Build files
/**/.vs/
/**/bin/
/**/obj/

# Local configuration
launchSettings.json
*.user

# NuGet packages
*.nupkg
*.snupkg

# Log files
*.log

# BenchmarkDotNet artifacts
**/BenchmarkDotNet.Artifacts/

# IDE settings
.idea/
.vscode/
