# This is a basic workflow to help you get started with Actions

name: Sanity check

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  push:
    branches:
      - "main"
      - "release/*"

  pull_request:
    branches:
      - "main"
      - "release/*"

# Enable only minimum required permissions
permissions:
  contents: read
  packages: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  sanity-check:
    name: sanity-check-${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6


      # Prepare specific version of dotnet to be used
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Build and test on current OS
      - name: Build and test on ${{ matrix.os }}
        run: dotnet test src/vanillapdf.net.sln --configuration Release --nologo

      - name: Verify publish on ${{ matrix.os }}
        shell: bash
        run: ./scripts/test_dotnet_publish.sh

      - name: Verify Native AOT publish on ${{ matrix.os }}
        shell: bash
        run: ./scripts/test_native_aot.sh
